<div class="col-md-4 col-sm-6 article">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">{{headline}}</h5>
        </div>
        <div class="card-body">
            <p class="card-text">{{overview}}</p>
        </div>
        <div class="card-footer">
            <a href="/articles/{{_id}}" class="btn btn-primary">Read Article</a>
            <a href="https://www.nytimes.com{{link}}" class="btn btn-primary">View On NYTimes</a>
        </div>
    </div>
</div>
